# Django / Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log
*.sqlite3

# Local settings / secrets
.env
.env.*

# Virtual environments
.venv/
venv/
ENV/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Django static/media outputs
staticfiles/
media/

# Database (explicit)
db.sqlite3
